@inject IJSRuntime JS
@namespace RHWebApplication.Web.Dialogs

<MudDialog id="dialog-content" Class="d-flex align-center justify-center mud-width-full">
	<DialogContent>
		<MudGrid Style="padding-left:25px;">
			<MudItem xs="12"/>
			<MudItem Class="pt-2 pb-4" Style="@_gridStyle" xs="12">
				<MudItem Class="d-flex">
					<MudText Style="@_boldStyle">Razão social:&nbsp;</MudText>
					<MudText>@Payroll.CorporateName</MudText>
				</MudItem>

				<MudItem xs="12" Class="d-flex">
					<MudText Style="@_boldStyle">CNPJ:&nbsp;</MudText>
					<MudText>@Payroll.CompanyCNPJ</MudText>
				</MudItem>
			</MudItem>


			<MudItem Class="pt-1 pb-1"  Style="@_gridStyle" xs="12">
				<MudItem Class="d-flex">
					<MudText Style="@_boldStyle">ID:&nbsp;</MudText>
					<MudText>@Payroll.EmployeeId&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</MudText>
					<MudText Style="@_boldStyle">Nome:&nbsp;</MudText>
					<MudText>@Payroll.EmployeeName&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</MudText>
					<MudText Style="@_boldStyle">Cargo:&nbsp;</MudText>
					<MudText>@Payroll.JobTitle</MudText>
				</MudItem>
			</MudItem>

			<MudItem xs="1" Class="pt-0" Style="@_gridStyle" ><MudText Style="@_boldStyle" >Cod.</MudText></MudItem>
			<MudItem xs="5" Class="pt-0" Style="@_gridStyle" ><MudText Style="@_boldStyle" >Descrição</MudText></MudItem>
			<MudItem xs="2" Class="pt-0" Style="@_gridStyle" ><MudText Style="@_boldStyle" >Referencia</MudText></MudItem>
			<MudItem xs="2" Class="pt-0" Style="@_gridStyle" ><MudText Style="@_boldStyle" >Proventos</MudText></MudItem>
			<MudItem xs="2" Class="pt-0" Style="@_gridStyle" ><MudText Style="@_boldStyle" >Descontos</MudText></MudItem>

			<MudItem xs="1" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">0001</MudText></MudItem>
			<MudItem xs="5" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">Salario Base</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">30 dias</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">@Payroll.BaseSalary</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">- - -</MudText></MudItem>

			<MudItem xs="1" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">0020</MudText></MudItem>
			<MudItem xs="5" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">Insalubridade</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">@(UnhealthyLevel[Payroll.UnhealthyLevel])</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">@Payroll.UnhealthyValue</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">- - -</MudText></MudItem>

			<MudItem xs="1" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">0021</MudText></MudItem>
			<MudItem xs="5" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">Periculosidade</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">@(Payroll.IsPericulosity ? "30%" : "0%")</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">@Payroll.PericulosityValue</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">- - -</MudText></MudItem>

			<MudItem xs="1" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">0018</MudText></MudItem>
			<MudItem xs="5" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">Hora Extra</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">@((int)Payroll.OverTime) : @((int)((@Payroll.OverTime - (int)@Payroll.OverTime) * 60))</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">@Payroll.OverTimeAditionals</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">- - -</MudText></MudItem>

			<MudItem xs="1" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">0010</MudText></MudItem>
			<MudItem xs="5" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">Comissão</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">- - -</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">@Payroll.Commission</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">- - -</MudText></MudItem>

			<MudItem xs="1" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">1600</MudText></MudItem>
			<MudItem xs="5" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">INSS</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">- - -</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">- - -</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">@Payroll.INSSDeduction</MudText></MudItem>

			<MudItem xs="1" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">0561</MudText></MudItem>
			<MudItem xs="5" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">IRRF</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">- - -</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">- - -</MudText></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"><MudText Style="@_paddingLeft">@Payroll.IRRFDeduction</MudText></MudItem>

			<MudItem xs="1" Style="@_sideGridStyle"></MudItem>
			<MudItem xs="5" Style="@_sideGridStyle"></MudItem>
			<MudItem xs="2" Style="@_sideGridStyle"></MudItem>
			<MudItem Class="pt-1 pb-1" Style="@_gridStyle" xs="2"><MudText Style="@_boldStyle">Bruto => @Payroll.Gross</MudText></MudItem>
			<MudItem Class="pt-1 pb-1" Style="@_gridStyle" xs="2"><MudText Style="@_boldStyle">Descontos => @Payroll.Deductions</MudText></MudItem>

			<MudItem xs="1" Style="@_FinalsideGridStyle"></MudItem>
			<MudItem xs="5" Style="@_FinalsideGridStyle"></MudItem>
			<MudItem xs="2" Style="@_FinalsideGridStyle"></MudItem>
			<MudItem Style="@_sideGridStyle" xs="2"></MudItem>
			<MudItem Class="pt-1 pb-1" Style="@_gridStyle" xs="2"><MudText Style="@_boldStyle">Liquido => @Payroll.Net</MudText></MudItem>

			<MudItem Style="@_gridStyle" xs="12"></MudItem>
			
		</MudGrid>
	</DialogContent>
	
	<DialogActions>
		<MudButton OnClick="PrintDialog" Color="Color.Primary">Imprimir</MudButton>
		<MudButton OnClick="Close" Color="Color.Primary">Fechar</MudButton>
	</DialogActions>
</MudDialog>

<script>
	function printDialogContent(){
		var content = document.getElementById('dialog-content').innerHTML;

		var printWindow = window.open('', '', 'height=600,width=800');

		printWindow.document.write('<html><head><title>Print</title><link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" /><link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" /><link rel="stylesheet" href="css/app.css" /></head><body>');
		printWindow.document.write(content);
		printWindow.document.write('</body></html>');

		printWindow.document.close();
		printWindow.print();
	}
</script>

@code {
	[CascadingParameter]
	MudDialogInstance MudDialog { get; set; } = new();
	[Parameter]
	public PayrollResponse Payroll { get; set; } = new();

	private Dictionary
	<int, string> UnhealthyLevel = new()
													{{ 0, "0%" },
													 { 1, "10%" },
													 { 2, "20%" },
													 { 3, "40%" }};

	private string _boldStyle = "font-weight: bold;";
	private string _gridStyle = "border: 2px solid black;";
	private string _paddingLeft = "padding-left: 10px;";
	private string _sideGridStyle = "padding-top: 0;border-right: 2px solid black; border-left: 2px solid black;";
	private string _FinalsideGridStyle = "padding-top: 0;border-right: 2px solid black; border-left: 2px solid black; border-bottom: 2px solid black; border-left: 2px solid black;";

	private async Task PrintDialog()
	{
		await JS.InvokeVoidAsync("printDialogContent");
	}

	private void Close()
	{
		MudDialog.Close(DialogResult.Ok(Payroll));
	}
}